---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/search?apikey=tGq9XKAciz0G0TbG0Ij6AahL6FSZzDbD&details=true&q=131%20W%2055th%20Street%20New%20York,%20NY%2010019
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50000'
      Ratelimit-Remaining:
      - '49992'
      Akamai-Grn:
      - 0.cd68dc17.1670749336.14facaf0
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"3714_PC","Type":"PostalCode","Rank":15,"LocalizedName":"New
        York","EnglishName":"New York","PrimaryPostalCode":"10019","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{"ID":"NY","LocalizedName":"New
        York","EnglishName":"New York","Level":1,"LocalizedType":"State","EnglishType":"State","CountryID":"US"},"TimeZone":{"Code":"EST","Name":"America/New_York","GmtOffset":-5.0,"IsDaylightSaving":false,"NextOffsetChange":"2023-03-12T07:00:00Z"},"GeoPosition":{"Latitude":40.764,"Longitude":-73.986,"Elevation":{"Metric":{"Value":10.0,"Unit":"m","UnitType":5},"Imperial":{"Value":32.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"ParentCity":{"Key":"349727","LocalizedName":"New
        York","EnglishName":"New York"},"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"New
        York","EnglishName":"New York"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyAirQualityForecast","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast","Radar"],"Details":{"Key":"3714_PC","StationCode":"NYC","StationGmtOffset":-5.0,"BandMap":"USNY","Climo":"NYC","LocalRadar":"KPHL","MediaRegion":"NE","Metar":"KNYC","NXMetro":"NYC","NXState":"NY_","Population":null,"PrimaryWarningCountyCode":"NYC061","PrimaryWarningZoneCode":"NYZ072","Satellite":"NY_","Synoptic":"72506","MarineStation":"ANZ338","MarineStationGMTOffset":-5.0,"VideoCode":"LGA","LocationStem":"us/new-york-ny/10007","DMA":{"ID":"501","EnglishName":"New
        York, NY"},"PartnerID":"1","Sources":[{"DataType":"AccuWeatherAlerts","Source":"AccuWeather","SourceId":1},{"DataType":"AirQualityCurrentConditions","Source":"Plume
        Labs","SourceId":63,"PartnerSourceUrl":"https://air.plumelabs.com/air-quality-in-new-york-ny-lwb3"},{"DataType":"AirQualityForecasts","Source":"Plume
        Labs","SourceId":63,"PartnerSourceUrl":"https://air.plumelabs.com/air-quality-in-new-york-ny-lwb3"},{"DataType":"Alerts","Source":"U.S.
        National Weather Service","SourceId":2},{"DataType":"CurrentConditions","Source":"AccuWeather","SourceId":1},{"DataType":"DailyAirQualityForecast","Source":"AccuWeather","SourceId":1},{"DataType":"DailyForecast","Source":"AccuWeather","SourceId":1},{"DataType":"DailyPollenForecast","Source":"AccuWeather","SourceId":1},{"DataType":"ForecastConfidence","Source":"AccuWeather","SourceId":1},{"DataType":"FutureRadar","Source":"AccuWeather","SourceId":1},{"DataType":"Historical","Source":"AccuWeather","SourceId":1},{"DataType":"HourlyForecast","Source":"AccuWeather","SourceId":1},{"DataType":"MinuteCast","Source":"AccuWeather","SourceId":1},{"DataType":"Radar","Source":"U.S.
        National Weather Service","SourceId":2},{"DataType":"Severe Weather Push Notifications","Source":"U.S.
        National Weather Service","SourceId":2}],"CanonicalPostalCode":"10007","CanonicalLocationKey":"349727"}}]'
  recorded_at: Sun, 11 Dec 2022 09:02:16 GMT
recorded_with: VCR 6.1.0
