<header class="bg-zinc-700">
  <nav class="mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-zinc-500 py-6 lg:border-none">
      <%= link_to root_path, class: "flex flex-row items-center" do %>
        <%= image_tag "logo.svg", class: "h-10 w-auto" %>
        <span class="text-white font-bold px-3">Weather Fetcher</span>
      <% end %>
    </div>
  </nav>
</header>
