  <div class="px-4 py-12 sm:px-6 lg:py-16 lg:px-16">
    <div class="shadow rounded-lg9o bg-zinc-700 px-6 py-6 md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-center">
      <div class="xl:w-0 xl:flex-1">
        <h2 class="text-2xl font-bold tracking-tight text-white sm:text-3xl">Want to know the weather in a given location?</h2>
        <p class="mt-3 max-w-3xl text-lg leading-6 text-zinc-200">Enter a location in the search to find out!</p>
      </div>

      <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
        <%= form_tag postal_codes_path, method: "post", class: "sm:flex" do %>
          <%= label_tag :query, "Search", class: "sr-only" %>
          <%= text_field_tag :query, nil, placeholder: "Enter your location here", class: "w-full rounded-md border-white px-5 py-3 placeholder-zinc-500 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-700" %>
          <%= submit_tag "Fetch", class: "mt-3 flex w-full items-center justify-center rounded-md border border-transparent bg-zinc-500 px-5 py-3 text-base font-medium text-white shadow hover:bg-zinc-400 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-zinc-700 sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
